<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Hypixel Bazaar Tracker</h1>
        <h2>an fgm project</h2>
        <div class="last-updated">
            Last Updated: {{ last_updated | datetime_format }}
        </div>
    </header>
    <main>
        <div class="buttons-container">
            <button class="toggle-button" data-column="1">Buy Price</button>
            <button class="toggle-button" data-column="2">Sell Price</button>
            <button class="toggle-button" data-column="3">Price Difference</button>
            <button class="toggle-button" data-column="4">Weekly Buy Volume</button>
            <button class="toggle-button" data-column="5">Weekly Sell Volume</button>
            <button id="refreshButton">Refresh Data</button>
        </div>
        <table id="pricesTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>First Buy Price</th>
                    <th>First Sell Price</th>
                    <th>Price Difference</th>
                    <th>Weekly Buy Volume</th>
                    <th>Weekly Sell Volume</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for item_id, product in prices_data.items() %}
                {% if item_id in item_ids %}
                <tr>
                    <td class="tooltip-custom">{{ product.get('product_id', 'N/A') }}
                        <span class="tooltip-text">
                            Average Sell Price: {{ product.quick_status.sellPrice | format_number }}<br>
                            Average Buy Price: {{ product.quick_status.buyPrice | format_number }}<br>
                        </span>
                    <td>{{ product.first_buy_price | format_number }}</td>
                    <td>{{ product.first_sell_price | format_number }}</td>
                    <td>{{ (product.first_buy_price - product.first_sell_price) | format_number }}</td>
                    <td>{{ product.quick_status.buyMovingWeek | format_number(0) }}</td> <!-- No decimals -->
                    <td>{{ product.quick_status.sellMovingWeek | format_number(0) }}</td> <!-- No decimals -->
                    <td>{{ product.get('points', 0) | format_number }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
